{% extends "students/base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Розклад Іспитів{% endblock meta_title %}

{% block title %}Список екзаменів{% endblock title %}

{% block content %}

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Назва</th>
      <th>Дата</th>
      <th>Викладач</th>
      <th>Група</th>
    </tr>
  </thead>
  <tbody>
  {% for exam in exams %}
    <tr>
      <th scope="row">{{exam.exam_name}}</th>
      <td>{{exam.exam_date}}</td>
      <td>&</td>
      <td>{{exam.exam_group}}</td>
    </tr>
  {%endfor%}
  </tbody>
</table>

  
{% endblock content %}

